.card {
  width: 20vw;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem;
  z-index: 0;
}
.opened {
  width: 40vw;
  min-height: 60vh;
}
.image {
  flex: 2;
  display: flex;
  align-items: flex-end;
}
.image img {
  width: 100%;
}
.info {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem 1rem;
}
.title {
  margin-bottom: 1rem;
}

.label {
  color: rgb(169, 169, 169);
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  color: rgb(230, 230, 230);
}
.none {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.delete {
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
}
.delete button {
  color: rgb(93, 93, 93);
}
