.formBuilder {
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 30px;
}
.formBuilder input {
  color: rgb(223, 223, 223);
}

.formBuilder label {
  color: rgb(167, 167, 167);
}
.strings {
  display: flex;
  justify-content: space-around;
  height: 40%;
  flex-direction: column;
  color: white;
}
.fields {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  padding: 1rem;
}
.submit {
  margin-bottom: 1rem;
}
