.formBuilder {
  height: 80vh;
  min-width: 60vw;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 30px;
}
.formBuilder input {
  color: rgb(223, 223, 223);
}

.formBuilder label {
  color: rgb(167, 167, 167);
}
.strings {
  display: flex;
  justify-content: space-around;
  height: 40%;
  flex-direction: column;
  color: white;
}
.bars-right, .bars-left {
  display: flex;
  justify-content: space-around;
  height: 85%;
  flex-direction: column;
}
.submit {
  position: absolute;
  bottom: 1.5rem;
}
